.aboutusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93%;  
    max-width: 1200px;
    margin: auto;
    margin-top: 5%; 
    height: auto;
}
.aboutUs {
    color: black;
    font-size: 28px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: auto;
    height: auto;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.colorScheme {
    margin-top: 30px;
    width: 10%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}
.colorScheme:hover {
    transform: scale(1.5);
}
.workflowTitle {
    top: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.ourWorkflow {
    position: absolute;
    left: 138px;
    margin-top: 10%;
    color: black;
    font-size: 20px;
    font-weight: 300;
    word-wrap: break-word;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.titleMarker {
    left: 113px;
    margin-top: 10%;
    height: 30px;
    position: absolute;
}
.workflow {
    margin-top: 20%;
    justify-content: center;
    width: auto;
    transition: transform 0.5s ease-in;
}
.workflow:hover {
    transform: scale(0.7);
}
.viewServices {
    position: relative;
    align-items: flex-end;
    left: 38%;  
    top: -45px;
}
.viewServices a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
}
.viewServices p {
    border-bottom: 1.5px solid black;


    @media (prefers-color-scheme: dark) {
        color: #6C5F5B;
        border-bottom: 1.5px solid #6C5F5B;
    }
}
.viewServices p:hover {
    border-bottom: 1.5px solid #ED7D31;
}
.viewServices svg {
    margin-left: 105%;
    margin-top: -22%;
    position: absolute;    
}
.mobileWorkflow {
    display: none;
}
.philosophy {
    top: 80px;
    width: 100%;
    height: 100%;
    position: relative;
}
.ourPhilosophy {
    left: 138px;
    top: 0;
    position: absolute;
    color: black;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    word-wrap: break-word;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.titleMarker2 {
    width: 18px;
    height: 30px;
    left: 113px;
    top: 9px;
    position: absolute;
}
.philosophyTables {
    width: 93%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 15%;
}
.philosophyTables h2 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 10px;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.philosophyTables p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 10px;

    @media (prefers-color-scheme: dark) {
        color: #6C5F5B;
    }
}
.simplicityBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px rgba(79, 74, 69, 0.14) solid;
    margin: 0 10px;
}
.simplicityBox:hover {
    background-color: #ED7D3124;

    @media (prefers-color-scheme: dark) {
        background-color: transparent;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.infiniteBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px rgba(79, 74, 69, 0.14) solid;
    margin: 0 10px;
}
.infiniteBox:hover {
    background-color: #ED7D3124;

    @media (prefers-color-scheme: dark) {
        background-color: transparent;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.resilienceBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px rgba(79, 74, 69, 0.14) solid;
    margin: 0 10px;
}
.resilienceBox:hover {
    background-color: #ED7D3124;

    @media (prefers-color-scheme: dark) {
        background-color: transparent;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.simplicityIcon, .infiniteIcon, .resilienceIcon {
    width: 45px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
}
.teamTitleBox {
    top: 80px;
    width: 100%;
    height: 100%;
    position: relative;
}
.ourTeamBox {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.titleMarker4 {
    width: 18px;
    height: 30px;
    left: 113px;
    margin-top: 9px;
    position: absolute;
}
.ourTeam {
    left: 138px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 300;
    line-height: 50px;
    word-wrap: break-word;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.teamMembers {
    display: flex;
    margin-top: 12%;
    justify-content: center;
    align-items: center;
}
.memberImg {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
}
.memberImg Img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}
.member2Box Img {
    width: 95%;
}
.member1Box {
    width: 385.24px;
    height: auto;
    left: 37px;
    border-radius: 10px;
    border: 1px rgba(79, 74, 69, 0.14) solid;
    box-sizing: border-box;
    margin: 0 20px;  
}
.member1Box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 

    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.member2Box {
    width: 385.24px;
    height: auto;
    left: 447px;
    border-radius: 10px;
    border: 1px rgba(79, 74, 69, 0.14) solid;
    margin: 0 20px;
}
.member2Box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.member1Name {
    text-align: start;
    margin-left: 10px;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 5px;
}
.member1Title {
    text-align: start;
    margin-left: 10px;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: -10px;
}
.member2Name {
    text-align: start;
    margin-left: 10px;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 5px;
}
.member2Title {
    text-align: start;
    margin-left: 10px;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: -10px;
}
.mobilePhilosophy, .ourWorkflowMobile, .ourPhilosophyMobile, .ourTeamMobile {
    display: none;
}
@media (max-width: 768px) {
    .workflow, .philosophyTables, .titleMarker2, .titleMarker4, .ourWorkflow, .ourPhilosophy, .ourTeam {
        display: none;
    }
    .aboutusContainer {
        margin: auto;
        margin-top: auto;
    }
    .aboutUs {
        display: block;
        font-size: 24px;
        text-align: center;
        margin-top: 15%;
    }
    .colorScheme {
        display: block;
        margin-top: 1px;
    }
    .ourWorkflowMobile {
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        margin-top: 40%;
        margin-bottom: 0;
    }
    .ourWorkflow::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: #ED7D31;
        transition: width 0.3s;
    }
    .ourWorkflow:hover::after {
        width: 100%;
    }
    .titleMarker {
        display: none;
    }
    .mobileWorkflow {
        display: block;
        margin-top: 5%;
    }
    .viewServices {
        position: relative;
        left: 0;
        top: 0;
        margin-top: 20px;        
    }
    .viewServices a {
        font-size: 18px;
    }
    .viewServices svg {
        width: 14px;
    }
    .ourPhilosophyMobile {
        display: block;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 0;
    }
    .mobilePhilosophy {
        display: grid;
        margin-top: 28%;
    }
    .mobileSimplicity {
        display: flex;
        justify-items: center;
        border: #ED7D31;
        border-radius: 10px;
        padding: 5px;
        margin: 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    }
    .mobileSimplicityIcon {
        width: 31px;
        height: auto;
        margin: 10px;
    }
    .mobileSimplicityTitle {
        font-size: 15px;
        margin: 10px;
    }
    .mobileInfinite {
        display: flex;
        justify-items: center;
        border-radius: 10px;
        padding: 5px;
        margin: 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    }
    .mobileInfiniteIcon {
        width: 35px;
        height: auto;
        margin: 10px;
    }
    .mobileInfiniteTitle {
        font-size: 15px;
        margin: 10px;
    }
    .mobileResilience {
        display: flex;
        justify-items: center; 
        border-radius: 10px;
        padding: 5px;
        margin: 15px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .mobileResilienceIcon {
        width: 30px;
        height: auto;
        margin: 10px;
    }
    .mobileResilienceTitle {
        font-size: 15px;
        margin: 10px;
    }
    .ourTeamBox {
        margin-top: 15%;
    }
    .teamTitleBox {
        display: flex;
        align-content: center;
        width: auto;
        height: auto;  
    }
    .ourTeamMobile {
        display: block;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        margin-top: 20%;
        margin-bottom: 0;
    }
    .teamMembers {
        display: grid;
        margin-top: 0;
        justify-content: center;
        justify-content: space-between;
    }
    .member1Box {
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    } 
    .memberImg > img {
        margin: 5px;
        height: 300px;
        width: auto;
    }
    .member2Box {
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    } 
    .member2Box > img {
        margin: auto;
    }
    .member1Name, .member2Name {
        text-align: center;
        font-size: 15px;
    }
    .member1Title, .member2Title {
        text-align: center;
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .aboutUs {
        margin-top: 15%;
        font-size: 20px;
    }
    .ourWorkflowMobile {
        margin-top: 30%;
        font-size: 15px;
    }
    .mobileWorkflow {
        width: 90%;
    }
    .viewServices a {
        font-size: 16px;
    }
    .ourPhilosophyMobile {
        font-size: 16px;
    }
}
@media (max-width: 320px) {
    .aboutUs {
        margin-top: 15%;
        font-size: 20px;
    }
    .viewServices a {
        font-size: 16px;
    }
}