.loading{
    animation: dot 1.09s infinite;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 20%;

    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }

    @media (max-width: 768px) {
        font-size: 16px;
        min-height: 50vh;
    }

}
.swiper-button-next, .swiper-button-prev {
    color: #ED7D31 !important;
  
    @media (prefers-color-scheme: dark) {
      color: #ED7D31 !important;
    }
  }

  
@media (max-width: 768px) {
    .swiper-button-next,  .swiper-button-prev{
        display: none !important;
  }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212 !important;
        color: white !important;
    }

    /* Header css */
    .header {
        background-color: #121212 !important;
        color: white !important;
    }
    .header a {
        color: #7c7c7c !important;
    }
    .sidebar {
        background-color: #121212 !important;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.18) !important;
    }
    .closeIcon svg {
        fill: #7c7c7c !important;
    }

    /* Footer css */
    .footerNav a {
        color: #7c7c7c !important;
    }
    .footerText {
        color: #7c7c7c !important;
    }

    /* HOMEPAGE CSS */
    /* Get Started css */
    .getStartedBox2 Img {
        filter: invert(1) grayscale(100%);
    }
    .getStartedBox2 p {
        color: #7c7c7c !important;
    }
    .getStartedBox2 h2 {
        color: white !important;
    }
    .getStartedIntro h2 {
        color: #7c7c7c;
    }
    .getStartedCTA p {
        color: #7c7c7c !important;
        border-bottom: #7c7c7c 1.5px solid !important;
    }
    .mobileIcon {
        filter: invert(1) hue-rotate(180deg);
    }
    .mobileCTA p {
        color: #7c7c7c !important;
        border-bottom: #7c7c7c 1.5px solid !important;
    }

   

    /* Browse Projects */
    .projectsIntro p {
        color: #7c7c7c !important;
    }

    /* Get to know us (About us) */
    .aboutUs {
        color: white !important;
    }
    .ourWorkflow {
        color: white !important;
    }
    .viewServices p {
        color: #7c7c7c !important;
        border-bottom: 1.5px solid #7c7c7c !important;
    }
    .ourPhilosophy {
        color: white !important;
    }
    .philosophyTables p {
        color: #7c7c7c !important;
    }
    .simplicityBox:hover, .infiniteBox:hover, .resilienceBox:hover {
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .mobileSimplicity, .mobileResilience, .mobileInfinite {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .member1Box, .member2Box {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .teamMembers h3 {
        color: #7c7c7c !important;
    }
    .member1Box, .member2Box {
        box-shadow: none !important;
    }
    .member1Box:hover, .member2Box:hover {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .ourTeam {
        color: white !important;
    }

    /* Articles */
    .articlesDesc {
        color: #7c7c7c !important;
    }
    .headline {
        color: white !important;
    }
    .articleBox1 p {
        color: #7c7c7c !important;
    }
    .articleBox1:hover {
        background-color: transparent !important;
    }
    .articleBox1:hover {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .readMoreText {
        color: #7c7c7c !important;
        border-bottom: #7c7c7c 1.5px solid !important;
    }

    /* Our Expertise */
    .service1 h2 {
        color: #7c7c7c !important;
    }
    .service1:hover {
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .service1 svg {
        fill: #7c7c7c !important;
    }

    /* Architecture Projects */
    .projectBox1 h2 {
        color: #7c7c7c !important;
    }
    .projectBox1:hover {
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    /* Project Description */
    .projectDescription h1 {
        color: white !important;
    }
    .descriptions h2 {
        color: #7c7c7c !important;
    }
    .descriptions p {
        color: white !important;
    }
    .details p {
        color: #7c7c7c !important;
    }

    /* Masterplan */
    .masterplan h2 {
        color: #7c7c7c !important;
    }

    /* BlogGrids */
    @keyframes dot {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    .loading {
        color: #7c7c7c !important;
        animation: dot 1.09s infinite !important;
    }
    .box1 .postTitle {
        color: white !important;
    }
    .box1 p {
        color: #7c7c7c !important;
    }
    .box1:hover {
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .postContent {
        color: #7c7c7c !important;
    }
    .blogNavigation h2 {
        color: #7c7c7c !important;
    }

    /* Contact Us */
    .contactWelcome p {
        color: #7c7c7c !important;
    }
}

@media (max-width: 768px) {
    /* Header CSS */
    .header {
        background-color: #121212 !important;
        color: white !important;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.18) !important;
    }
    .menuButton svg {
        fill: #7c7c7c !important;
    }

    /* Footer CSS */
    .footerContainer {
        background-color: #121212 !important;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.18) !important;
    }
    .mobileFooterSocials p {
        color: #7c7c7c !important;
    }

    /* Carousel CSS
    .swiper {
        box-shadow: 0 2px 10px 0px rgba(255, 255, 255, 0.18) !important;
        border-radius: 10px;
        padding: 10px;
    } */

    /* Get Started CSS */
    .mobileServices h1 {
        color: white !important;
    }
    .mobileServices h2 {
        color: #7c7c7c !important;
    }
    .mobileServices .iconContainer {
        box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.1);
    }

    /* Get to know us css */
    .member1Box, .member2Box {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    .articleBox1 {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    /* Our Expertise */
    .service1 {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    /* Architecture Projects */
    .projectBox1 {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    /* BlogGrids */
    .box1 {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    /* Contact Us */
    .appointment {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .ourContacts {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .form {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
}