.our-expertise{
    width: 93%;
    max-width: 1440px;
    margin: auto;
    padding: 0;
}
.title-services{
    font-size: 36px;
    font-weight: 300;
    margin-top: 5%;
    text-align: center;
}
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    width: 80%;
    height: auto;   
    margin: auto; 
    margin-top: 5%;
}

.service1{
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 10%; 
    position: relative
}

.service1:hover{
    background-color: #ED7D3124;
}
.service1-img{
    width: 100%;
    height: 280px;
    border-radius: 10px;
}
.service1-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.arrow-services{
    position: absolute;
    top: 92%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}
.arrow-services img{
    width: 40%;
    height: auto;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 10px;
    
}
.service1 h2{
    font-size: 20px;
    font-weight: 300;
    margin-left: 15px;
    text-decoration: none;
    color: black;
    border-bottom: none;
}
.service1 a{
    text-decoration: none;
}

@media (max-width:768px){
    .our-expertise{
        width: 100%;
    }
    .arrow-services{
        display: none;
    }
    .landing-img{
        width: auto;
        margin: auto;
        height: 300px;    
    }
    .landing-img img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .service1 h2{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
    .service1-img{
        width: 100%;
        height: 200px;
    }
    .title-services{
        font-size: 24px;
        font-weight: 300;
        margin-top: 8%;
        text-align: center;
    }
    .services{
        margin-top: 5%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}