.ourExpertise{
    width: 93%;
    max-width: 1440px;
    margin: auto;
    padding: 0;
}
.titleServices{
    font-size: 36px;
    font-weight: 300;
    margin-top: 5%;
    text-align: center;
}
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    width: 80%;
    height: auto;   
    margin: auto; 
    margin-top: 5%;
}

.service1{
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 10%; 
    position: relative;
}
.service1:hover{
    background-color: #ED7D3124;

    @media (prefers-color-scheme: dark) {
        background-color: transparent;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1)
    }
}
.service1Img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.service1Img Img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.arrowServices{
    position: absolute;
    top: 92%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}
.arrowServices img{
    width: 40%;
    height: auto;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 10px;
    
}
.service1 h2{
    font-size: 20px;
    font-weight: 300;
    margin-left: 15px;
    text-decoration: none;
    color: black;
    border-bottom: none;

    @media (prefers-color-scheme: dark) {
        color: #ffffff;
    }
}
.service1 a{
    text-decoration: none;
}

@media (max-width:768px){
    .ourExpertise{
        width: 100%;
    }
    .arrowServices{
        display: none;
    }
    .landingImg{
        width: auto;
        margin: auto;
        height: 300px;    
    }
    .landingImg img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .service1{
        @media (prefers-color-scheme: dark) {
            background-color: transparent;
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
        }
    }
    .service1 h2{
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
    .service1Img{
        width: 100%;
        height: 200px;
    }
    .titleServices{
        font-size: 24px;
        font-weight: 300;
        margin-top: 8%;
        text-align: center;
    }
    .services{
        margin-top: 5%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}