.productsHomeContainer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    min-height: 100vh;
}
.productsHome {
    width: auto;
    margin: auto;
}
.productsHome h1 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.filterProducts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-gap: 5px;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    
}
.filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    margin-top: 0;
    position: sticky !important;
    top: 0;
    
}
.filterHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    
}
.filterHeader p {
    font-size: 14px;
    font-weight: 300;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
.iconTune {
    width: 18px !important;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
.filterOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
    margin-left: 0;
}


.byCategory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
    
}
.categoryDropdown {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
    
}

.byCategory h3 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
.byCategory ul {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0 !important;
    grid-gap: 10px;
    width: fit-content;
    padding: 5px;
    margin-bottom: 0;
    border-radius: 10px;
    border: 1px solid #0000000D;

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
   
}
.byCategory li {
    margin-left: 10px;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
/* .by-category li:hover{
    border-bottom: 1px solid #ED7D31;
    /* border: 1px solid #0000000D;
    border-radius: 10px;
    padding: 5px;
    width: 93%;

    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
        color: white;
    } */

.iconCategory {
    width: 15px !important;
    margin-right: 10px;
    color: #ED7D31;
    
}
.iconDrop {
    
    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
.byBedrooms {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    margin-left: 0;

}
.bedroomsDropdown {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.bedroomsDropdown h3 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
.bedroomsDropdown ul {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0 !important;
    grid-gap: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #0000000D;

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}
.bedroomsDropdown li {
    margin-left: 10px;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}

.productsSearch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    

}
.iconSearchProducts {
    width: 25px !important;
    margin-left: 5px;
    transform: rotate(90deg);
    padding: 2px;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
.productsSearchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    margin-top: 10px;
    margin-right: 0;
    border-radius: 10px;
    border: 1px solid #0000000D;

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #12121212;
    }
}

.productsSearchBar > input {
    width: 100%;
    border-radius: 10px;
    border: transparent;
    padding: 5px; 
    background-color: transparent; 
    font-size: 14px;
    font-weight: 300;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}
.productsSearchBar > text {
    font-size: 14px;
    font-weight: 300;

    

}
.productsSearchBar :placeholder-shown {
    font-size: 12px;
    font-weight: 300;
    font-family: Poppins;
    

    @media (prefers-color-scheme: dark) {
        color: #6C5f5b;
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 20px;
}
.productsCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #0000000D;
    height: auto;
    margin: auto;
    
    
    @media (prefers-color-scheme:dark){
        /* background-color: #ffffff0D */
        border: 1px solid #ffffff0D;
    }
}
.productsCard:hover {
    background-color: #0000000D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

    @media(prefers-color-scheme:dark){
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.productsCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0;
}
.productsCardDetail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}
.productsCardTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px;
}
.productsCardTitle h3 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}
.productsCardTitle h4 {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: #00000080;

    @media(prefers-color-scheme:dark){
        color: #6C5f5B;
    }

    
}
.productsCardDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}
.productsCardDetails p {
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
    

    @media(prefers-color-scheme:dark){
        color: #6C5f5B;
    }
}



@media (max-width: 768px) {
    .productsHome {
        margin-top: 50px;
    }
    .productsHome h1 {
        font-size: 24px;
    }
    .filterProducts {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    .filters {
        width: 93%;
        margin-top: 0;
        position: sticky;
        top: 0;
        
    }
    .filterHeader {
        width: 20%;
        height: 30px;
        justify-content: space-evenly;
        border: 1px solid #0000000D;
        border-radius: 10px;
        padding: 0;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
        position: sticky;
        top: 0;


        @media (prefers-color-scheme: dark) {
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.1);
        }
    }
    
    .filterOptions {
        display: none;
    }
    
    .filterHeader.active + .filterOptions {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: 5px;
        border-radius: 10px;
        background-color: #fff;

        @media (prefers-color-scheme: dark) {
            background-color: #12121212;
        }
    }
    .byCategory {
        width: 100%;
        margin-left: 0;
    }
    .byBedrooms {
        width: 100%;
        margin-left: 0;
    }
    .productsSearch {
        width: 100%;
        margin-top: 20px;
    }
    .productsSearchBar {
        width: 93%;
        margin: auto;
        
       
    }
    .products {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 20px auto;  
        width: 93%;
    }
    .productsCard {
        width: 100%;
        height: 100%;
        margin: auto;
        border: none;
    }
    .productsCard img {
        width: 100%;
        height: 250px;
    }
    .productsCardDetail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 10px;
        width: 100%;
        background-color: #0000000D;

        @media(prefers-color-scheme:dark){
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
            border-radius: 10px;
        }
    }
    .productsCardTitle {
        width: 100%;
        margin-left: 10px;
    }
    .productsCardDetails {
        width: 100%;
        margin: auto;  
        margin-top: 10px;
          
    }
}
