@keyframes blinking {
    0% { background-color: #eee; }
    50% { background-color: #e5e5e5; }
    100% { background-color: #eee; }
}

@media (prefers-color-scheme: dark) {
    @keyframes blinking {
        0% { background-color: #6d6a6a; }
        50% { background-color: #3a3a3a; }
        100% { background-color: #333; }
    }
}

.plansContainer {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 5%;
}
.browsePlans {
    width: 100%;
    margin: auto;
}
.plansTitle {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.plansTitle h1 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;
}
.plansTitle h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
    color: #00000080;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.categoriesNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.categories {
    padding-left: 0 !important;
    list-style: none;
    display: flex;
    flex-direction:row;

}
.categories li {
    padding-left: 0 !important;
    margin-top: 0;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 300;
    
}
/* ADD A LOADING EFFECT */

.defaultCategory {
    color: #ED7D31;
}
.defaultCategoryUnselected {
    color: black;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.selectedCategory {
    color: #ED7D31;
}
.categories li:hover {
    color: #ED7D31;
    cursor: pointer;
}
.plansNav {
    display: flex;
    align-items: center;
}
.plansNav p {
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    color: #00000080;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.iconArrow {
    width: 10px;
    color: #00000080;
}
.categoriesNav a {
    text-decoration: none;
    color: #00000080;
    transition: transform 0.3s ease-out;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.categoriesNav a:hover {
    color: #ED7D31;
    transform: scale(1.1);
}
.landingPlans {
    width: 100%;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    margin: auto;
    gap: 20px;
}
.landingPlans a {
    text-decoration: none;
    color: #000000;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.bigPlanSample {
    width: 100%;
    height: 100%;
    position: relative;
}
.bigPlanSample img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
}
.cartWishlist {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    right: 0;
    width: 27px;
    margin: 5px;
    top: 10px;
    z-index: 1;
    background-color: #fffffd;
    border-radius: 10px;
    @media (prefers-color-scheme: dark) {
        background-color: #000000;
    }
}
.wishlist, .addCart {
    margin: 5px;
}
.iconWishlist {
    cursor: pointer;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.addCart {
    align-self: center !important;
}
.iconAddCart {
    cursor: pointer;
    align-self: center;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.starPlan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.starPlan p {
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
    color: black;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.iconPopular {
    width: 15px !important;
    height: 15px !important;
    
}
.previewDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: auto;
    width: 100%;
    gap: 0;
}
.previewDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    width: 100%;
}
.previewDetailsTitle {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: -10px;
}
.previewDetailsTitlePricing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -28px;
    width: auto;
}
.popularPricing {
    font-size: 14px;
    font-weight: 400;
    color: #00000080;
    margin-bottom: 0;
    margin-top: 2px;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.previewDetailsTitle h3 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    color: black;
    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.previewDetailsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -5px;
    width: 100%;
    height: auto !important;
    border-radius: 10px;
    background-color: #0000000D;
    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.icon {
    margin-top: 10px;
    width: 25px !important;
    height: 25px !important;
    @media (prefers-color-scheme: dark) {
        filter: invert(0.9) hue-rotate(180deg);
    }
}
.iconFloors {
    margin-top: 10px;
    width: 25px !important;
    height: 25px !important;
    @media (prefers-color-scheme: dark) {
        filter: invert(0.9) hue-rotate(180deg) !important;
    }
}
.Bedrooms, .Bathrooms, .Floors, .Plinth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.previewDetailsInfo p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    color: black;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.bigPlanSamplesImages {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}
.bpsi1 {
    flex: 1;
    margin-bottom: 18px;
    padding: 0;
    border-radius: 10px;
}
.bpsi1 img {
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .plansContainer {
        width: auto;
        height: auto;
        margin: auto;
    }
    .browsePlans {
        width: 93%;
        margin: auto;
        margin-top: 10%;
    }
    .plansTitle h1 {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
    }
    .plansTitle h2 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
        margin-top: 0;
        color: #00000080;
        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }
    .categoriesNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .categories {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
    }
    .categories li {
        font-size: 12px;
        text-align: left;
        margin: auto;
        margin-left: 0;
    }
    .plansNav {
        display: flex;
        align-items: center;
        justify-self: center;
    }
    .plansNav p {
        font-size: 12px;
        font-weight: 400;
        margin-right: 10px;
        color: #00000080;
        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }
    .landingPlans {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        gap: 20px;
    }
    .previewDetailsContainer {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        gap: 0;
    }
    .bigPlanSample img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    .starPlan p {
        font-size: 10px;
        font-weight: 300;
        margin-left: 5px;
        margin-top: 10px;
        color: #00000080;
        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }
    .iconPopular{
        width: 12px !important;
        height: 12px !important;
    }
    .previewDetailsTitlePricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline !important;
    }
    .popularPricing {
        font-size: 12px;
        font-weight: 400;
        color: #00000080;
        margin-bottom: 0;
        margin-top: 2px;
        margin-left: 5px;
        justify-self: flex-end;
        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }
    .previewDetails {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .previewDetailsInfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 0 !important;
        width: 100%;
        margin-top: 5px;
    }
    .iconFloors {
        width: 30px;
        height: 30px;
    }
    .previewDetailsInfo p {
        font-size: 12px;
        font-weight: 300;
        margin-top: 10px;
        color: black;
        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }
    .bigPlanSampleImages {
        display: none;
    }
}

