.filteredCategoriesPage {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}
.filteredCategoriesProducts {
    width: 97%;
    margin: auto;
}
.filteredCategoriesProducts h1 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}
.filterSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    margin: auto;
}
.filterTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
}
.filterIcon {
    width: 18px;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filterTitle p {
    font-size: 14px;
    font-weight: 300;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filterSearchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    height: 30px;
    margin-top: 0;
    margin-right: 0;
    border-radius: 10px;
    border: 1px solid #0000000D;
    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #12121212;
    }
}
.filterSearchBar > input {
    width: 100%;
    border-radius: 10px;
    border: transparent;
    padding: 5px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filterSearchBar > input:focus {
    outline: none;
}
.filterSearchBar > text {
    font-size: 14px;
    font-weight: 300;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filterSearchBar :placeholder-shown {
    font-size: 12px;
    font-weight: 300;
    font-family: Poppins;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filteredProductsContainer {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    margin-left: 0;
    border-radius: 10px;
}
.filterOfCategories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    position: sticky !important;
    top: 0;
}
.filteredCategoryAttributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.filterAttributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}
.iconDrop{

    @media (prefers-color-scheme:dark){
        fill: #7c7c7c;
    }
}
.attribute1 {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.attribute1 h3 {
    font-size: 14px;
    font-weight: 400;
    margin-right: 50px;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filteredProducts {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    margin-top: -30px;
}
.categoryProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 0;
}
.filteredProductsCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #0000000D;
    height: auto;
    margin: auto;
    @media (prefers-color-scheme: dark) {
        border: 1px solid #ffffff0D;
    }
}
.filteredProductsCard:hover {
    background-color: #0000000D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.filteredProductsCard img {
    width: 100% !important;
    height: 200px;
    border-radius: 10px;
}
.cartWishlist {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    right: 0;
    width: 27px;
    margin: 5px;
    top: 10px;
   
    background-color: #fffffd;
    border-radius: 10px;
    @media (prefers-color-scheme: dark) {
        background-color: #000000;
    }
}
.wishlist, .addCart {
    margin: 5px;
}
.iconWishlist {
    cursor: pointer;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.addCart {
    align-self: center !important;
}
.iconAddCart {
    cursor: pointer;
    align-self: center;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filteredProductsCardTitle {
    flex-direction: row;
    align-items: baseline;
    margin-left: 0;
}
.filteredProductsCardTitle h3 {
    font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
}
.filteredProductsCard h4 {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: #00000080;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.filteredProductsCardDetail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    background-color: #0000000D;
    border-radius: 10px;
    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.newPlansCardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: auto;
    width: auto;
    
}
.iconGrid {
    width: 20px !important;
    height: 20px !important;

    @media (prefers-color-scheme:dark){
        filter: invert(0.9) hue-rotate(180deg);
    }

}
.iconGridFloors {
    width: 20px !important;
    height: 20px !important;

    @media (prefers-color-scheme:dark){
        filter: invert(0.9) hue-rotate(180deg);
    }
}
.newPlansCardDetails p{
    font-size: 12px;
    font-weight: 300;

    @media (prefers-color-scheme:dark){
        color: #7c7c7c;
    }
}
.iconSearchProducts{
    width: 20px !important;
    height: 20px !important;
    margin-left: 5px;

    @media (prefers-color-scheme:dark){
        fill: #7c7c7c;
    }
}
@media (max-width: 768px) {
    .filteredCategoriesPage {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .filteredCategoriesProducts {
        width: auto;
        margin: auto;
    }
    .filteredCategoriesProducts h1 {
        font-size: 24px;
        margin-top: 50px;
    }
    .filterSearch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 93%;
    }
    .filterTitle {
        border: 1px solid #0000000D;
        border-radius: 10px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
        padding: 5px;
        height: 30px;
        @media (prefers-color-scheme: dark) {
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.1);
        }
    }
    .filterSearchBar {
        width: 93%;
        align-self: center;
        height: 30px;
        margin-left: 0;
        margin-top: 10px;
        margin-right: 0;
        border-radius: 10px;
        border: 1px solid #0000000D;
        @media (prefers-color-scheme: dark) {
            border: 1px solid rgba(255, 255, 255, 0.1);
            background-color: #12121212;
        }
    }
    .filterOfCategories {
        width: 93%;
    }
    .filteredCategoryAttributes {
        width: 93%;
    }
    .filterAttributes {
        display: none;
    }
    .filterAttributes.show {
        display: grid;
        grid-template-columns: 1fr;
    }
    .filterTitle.active + .filterAttributes {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: 5px;
        border-radius: 10px;
        background-color: #fff;
        @media (prefers-color-scheme: dark) {
            background-color: #12121212;
        }
    }
    .filteredProductsContainer {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
    }
    .filteredProducts {
        margin: auto;
        margin-top: 10px;
    }
    .categoryProducts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 93%;
        margin: auto;
        margin-top: 20px;
    }
    .filteredProductsCard {
        width: 100%;
        height: 100%;
        margin: auto;
        border: none;
    }
    .filteredProductsCard img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
    }
    .filteredProductsCardDetail{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}