.landingCarousel {
    width: 100%;
    height: 100%;
}

.mainSwiper {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: -20px;
}

.optionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thumbsSwiper {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: none !important;
}

.mainSwiperShadow1 {
    box-shadow: 0 4px 160px 10px #33fffc !important;
}

.mainSwiperShadow2 {
    box-shadow: 0 4px 160px 10px #33FF57 !important;
}

.mainSwiperShadow3 {
    box-shadow: 0 4px 160px 10px #3357FF !important;
}

.mainSwiperShadow4 {
    box-shadow: 0px 4px 160px 10px #FF5733 !important;
}

.thumb {
    border: 1px solid;
    border-radius: 10px;
    opacity: 0.4;
    cursor: pointer;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 2px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
}

.thumbActive {
    opacity: 1;
}

.thumbColor1 {
    border-color: #33fffc;
}

.thumbColor2 {
    border-color: #33FF57;
}

.thumbColor3 {
    border-color: #3357FF;
}

.thumbColor4 {
    border-color: #FF5733;
}

@media (max-width: 768px) {
    .landingCarousel {
        width: 100% !important;
    }
    .mainSwiper {
        width: 90%;
        height: 300px;
        box-sizing: border-box;
    }
    .thumb {
        font-size: 12px;
        height: 25px;
    }
    .thumbsSwiper {
        width: 80%;
        box-shadow: none;
    }
}

@media (max-width: 400px) {
    .mainSwiper {
        width: 80%;
        height: 250px;
        margin-top: 0;
    }
    .thumbsSwiper {
        width: 70%;
    }
}




