.newPlansContainer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
    
}
.newPlans {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    
}
.newPlans a {
    text-decoration: none;
    color: #000000;
    

    @media(prefers-color-scheme:dark){
        color: #7c7c7c;
    }
}
.newPlansHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}
.newPlans h1 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: -20px;
}
.newPlansHeading h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    color: #00000080;

    @media(prefers-color-scheme:dark){
        color: #7c7c7c;
    }
}
.plansNavCTA {
    display: flex;
    align-items: center;
    margin:auto;
    transition: transform 0.3s ease-out;

}
.plansNavCTA p {
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    color: #00000080;

    @media (prefers-color-scheme:dark){
        color: #7c7c7c;
    }
}
.plansNavCTA:hover {
    transform: scale(1.1);
}
.iconArrowNp {
    width: 10px;
    margin-right: 10px;
}
.newPlansCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    border-radius: 10px;
    border: 1px solid #0000000D;
    height: auto;
    margin: auto;
    
    
    @media (prefers-color-scheme:dark){
        /* background-color: #ffffff0D */
        border: 1px solid #ffffff0D;
    }
     
}
.newPlansCard:hover {
    background-color: #0000000D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

    @media(prefers-color-scheme:dark){
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.cartWishlist {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    right: 0;
    width: 27px;
    margin: 5px;
    top: 10px;
    z-index: 10;
    background-color: #fffffd;
    border-radius: 10px;
    @media (prefers-color-scheme: dark) {
        background-color: #000000;
    }
}
.wishlist, .addCart {
    margin: 5px;
}
.iconWishlist {
    cursor: pointer;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.addCart {
    align-self: center !important;
}
.iconAddCart {
    cursor: pointer;
    align-self: center;
    @media (prefers-color-scheme: dark) {
        color: #7c7c7c;
    }
}
.newPlansCard Img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom:0 ;
}
.newIndicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-top: -10px !important;
    padding: 0;
}
.newIndicator p {
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
    color: #00000080;

    @media(prefers-color-scheme:dark){
        color: #7c7c7c;
    }
}
.iconIndicator {
    width: 15px !important;
    height: 15px !important;
}
.newPlansCardTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    margin-left: 10px;
    margin-top: -30px;
}
.newPlansCardTitle h3 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;

    @media (prefers-color-scheme: dark){
        color:white;
    }
}
.newPlansCardTitle h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    color: #00000080;

    @media (prefers-color-scheme:dark){
        color: #7c7c7c
    }
}

.newPlansCardDetail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    border-radius: 10px;
    margin: auto;  
    align-items: center;
}
.newPlansCardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: auto;
    width: 100%;
    padding: 0 2px;

}
.iconGrid {
    width: 25px !important;
    height: auto !important;

    @media (prefers-color-scheme:dark){
        filter: invert(0.9) hue-rotate(180deg);
    }

}
.iconGridFloors {
    width: 25px !important;
    height: 25px !important;

    @media (prefers-color-scheme:dark){
        filter: invert(0.9) hue-rotate(180deg);
    }
}
.newPlansCardDetails p {
    font-size: 12px;
    font-weight: 300;

    @media (prefers-color-scheme:dark){
        color: #7c7c7c;
    }
    
    
}


@media (max-width: 768px) {
    .newPlansContainer {
        width: auto;
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20%;
    }
    .newPlans {
        width: 93%;
    }

    .newPlans h1 {
        font-size: 24px;
        margin-left: 0;
    }
    .newPlansHeading {
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-top: 0;
        width: auto;

        
        margin-left: 0;
    }
    .newPlansHeading h2 {
        font-size: 14px;
        margin-left:0;
        margin-top: 0;
        word-wrap: break-word;

    }
    .newPlansHeading a {
        align-self: baseline;
        justify-self: flex-end;
    }
    .plansNavCTA {
        display: flex;
        margin: auto;
        align-items: center;
        margin-top: 10px;
        
        
    }
    .plansNavCTA p {
        font-size: 12px;  
    }


    .newPlansCard {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        border: none;
        gap: 20px;
        margin-top: 0;
        
    }
    .newPlansCard Img {
        width: 100%;
        height: 200px;
        margin-bottom: 0;
    }
    .newIndicator {
        margin-left: 5px;
        margin-top: -30px !important;
        
    }
    .newIndicator p {
        font-size: 10px;
    }
    .newPlansCardTitle {
        flex-direction: row;
        align-items: baseline;
        margin-left: 5px;
        margin-top: -50px !important;
        
    }
    .newPlansCardTitle h3 {
        font-size: 20px;
        
    }
    .newPlansCardTitle h4 {
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 0;
    }
    .newPlansCardDetail {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        width: 100%;
        margin-top: -15px;
        background-color: #0000000D;
        

        @media (prefers-color-scheme:dark){
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
        }

    }
    .newPlansCardDetails {
        margin-top: 10px;
        width: 100%;

    }
    
}

