@keyframes dot {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);

        @media (prefers-color-scheme: dark) {
            color: rgba(255, 255, 255, 0);
            text-shadow:
              .25em 0 0 rgba(255, 255, 255, 0),
              .5em 0 0 rgba(255, 255, 255, 0);
          }
    }
    30% {
      color: black;
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;

        @media (prefers-color-scheme: dark) {
            color: white;
            text-shadow:
              .25em 0 0 white,
              .5em 0 0 white;
          }
    }
    40% {
      color: black;
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;

        @media (prefers-color-scheme: dark) {
            color: white;
            text-shadow:
              .25em 0 0 white,
              .5em 0 0 white;
          }
    }

}
.loadingTerms {
    color: #6C5F5B !important;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0;
    font-size: 12px;
    text-align: left;
    justify-self: flex-start;
    animation: dot 1.09s infinite;
}

.optionsPopupContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;

    @media (prefers-color-scheme: dark) {
        background-color: rgba(0, 0, 0, 0.95);
    }
}

.closeIcon {
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 10px;
    width: 25px;
    height: 25px;
    color: #ED7D31;
    border: 1px solid #ED7D31;
    border-radius: 50px;
    padding: 2px;
    cursor: pointer;
}

.optionsPopupTitle {
    display: grid !important;
    grid-template-columns: 1fr 3fr;
    gap: 0;
    align-items: first baseline;
    justify-items: center;
    margin-top: 0 !important;
    padding: 0 30px;
    border-radius: 10px;
    width: 35%;
    height: 50px;

    @media (prefers-color-scheme: dark) {
        /* ...existing code... */
    }
}

.optionsPopupTitle h1 {
    font-size: 28px !important;
    font-weight: 400 !important;
    margin-left: 0 !important;
    text-align: center;
    margin-bottom: 10px;
}

.optionsPopupProduct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: auto;
    margin-top: 25px;
    width: 35%;
    height: 70px;
    margin-bottom: 5%;
}

.optionsPopupProduct img {
    width: 150px !important;
    height: 75px !important;
}

.optionsPopupDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.optionsPopupDetails h2 {
    font-size: 24px !important;
    font-weight: 300 !important;
    margin: 0;
}

.optionsPopupDetails p {
    font-size: 14px !important;
    font-weight: 400;
    margin-top: 0;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}

.optionsPopUp {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -50px;
}

.radioChecked, .radioUnchecked{
    width: 20px !important;
    margin-right: 10px;
    color: #ED7D31;
    margin-left: 0;
}

.optionsPopUp h2 {
    font-size: 18px;
    font-weight: 300;
}

.optionsPopUp ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -10px;
    margin-left: -30px;
    margin-bottom: 0;
    gap:10px
}

.optionsPopUp li {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    padding: 2px 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.optionsPopUp p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    

    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}

.addToCartPopup {
    width: 35%;
    height: 50px;
    background-color: #ED7D31;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.addToCartPopup p {
    margin: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .loadingTerms{
        border-radius: 10px;
        padding: 5px;
        font-size: 10px;
        margin-right: 20%;
    }
    .optionsPopupContainer {
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 93% !important;
        height: 100vh !important; /* Set a fixed height */
        overflow-y: auto; /* Enable vertical scrolling */
        box-shadow: 0 4px 8px rgba(181, 174, 174, 0.1);
        padding: 20px !important;
        z-index: 100000;
        margin-top: 12% !important;
        background-color: #FFFFFF;

        @media (prefers-color-scheme: dark) {
            background-color: #00000D;
        }
    }

    .closeIcon {
        padding: 5px;
        left: 0;
        top: 30px;
        color: #ED7D31;
        border: 1px solid #ED7D31;
    }

    .optionsPopupTitle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        align-items: center;
        width: auto;
    }

    .optionsPopupTitle h1 {
        font-size: 18px !important;
        margin: 0 !important;
    }

    .popupCart {
        align-self: center;
        justify-self: auto;
    }

    .optionsPopupProduct {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        width: 93%;
    }

    .optionsPopupProduct img {
        width: 90px !important;
        height: 60px !important;
        margin-right: 0 !important;
    }

    .optionsPopupDetails {
        width: 100%;
        margin-top: 0;
        display: flex !important;
        justify-content: center !important;
        align-items: flex-start !important;
    }

    .optionsPopupProduct h2 {
        font-size: 16px !important;
        margin-left: 0;
    }

    .optionsPopupDetails p {
        font-size: 12px;
        font-weight: 400;
        color: #00000080;
        margin-left: 0;

        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }

    .optionsPopUp {
        width: 100%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .optionsPopUp h2 {
        font-size: 14px;
        font-weight: 400;
    }

    .optionsPopUp ul {
        width: 100%;
        margin-bottom: 0 !important;
    }

    .optionsPopUp li {
        font-size: 12px;
        height: auto;
        width: 100%;
        padding: 2px;
        margin-bottom: 0;
        z-index: 100;
        background-color: #0000000D;

        @media (prefers-color-scheme: dark) {
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
            background-color: rgba(0, 0, 0, 0.9);
        }
    }

    .optionsPopUp p {
        font-size: 10px;
        margin-bottom: 0;
        padding: 3px;
        color: #00000080;

        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }

    .addToCartPopup {
        width: 93%;
        margin: auto;
        margin-top: 10px;
        height: 41px;
    }

    .addToCartPopup p {
        font-size: 12px;
    }
}
