.wishlistContainer {
    width: 93%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}
.wishlistContainer h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}
.wishlistInformation {
    width: 93%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1) !important;
    border-radius: 10px;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1) !important;
    }
}
.wishlistProduct {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.wishlistProduct img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.wishlistProductInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: auto;
    height: 150px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 0;
    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
    }
}
.wishlistProductInfo h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}
.wishlistProductInfo p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: #00000080;
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.wishlistProductInfo a {
    text-decoration: none;
}
.wishlistProductDetail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}
.removeWishlist {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
}
.removeWishlist p {
    color: red;
    font-size: 14px;
    font-weight: 400;
    align-self: first baseline;
    cursor: pointer;
}
.deleteIcon {
    height: 18px !important;
    color: red;
}
.noProduct {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding: 5px 20px 20px;
    margin-left: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
    }
}
.noProduct p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}
.noProduct a {
    font-size: 14px;
    font-weight: 300;
    color: #ED7D31;
    text-decoration: none;
    border-bottom: 1px solid #ED7D31;
}
@media (max-width: 768px) {
    .wishlistContainer {
        width: 93%;
        margin: auto;
        padding: 0;
    }
    .wishlistContainer h1 {
        font-size: 24px;
        margin-top: 10%;
        text-align: center;
    }
    .wishlistInformation {
        padding: 10px;
        margin-top: 20px;
    }
    .wishlistProduct {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }
    .wishlistProduct img {
        margin-bottom: 10px;
        width: 200px;
        height: 120px;
    }
    .wishlistProductInfo h2 {
        font-size: 16px;
    }
    .wishlistProductInfo {
        height: 120px;
    }
    .wishlistProductDetail p {
        font-size: 12px;
        font-weight: 400;
    }
    .noProduct {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .noProduct p {
        font-size: 14px;
        font-weight: 300;
    }
    .noProduct a {
        font-size: 12px;
    }
}