.cart-container{
    width: 93%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cart-container a{
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:auto;

}
.cart-container h1{
    text-align: center !important;
    font-size: 36px;
    font-weight: 300;
}
.empty-cart{
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding: 20px;
    margin-left: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
    }
}
.empty-cart p{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    
}
.empty-cart a{
    text-decoration: none;
    color: #ED7D31;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    border-bottom: 1px solid #ED7D31;
}
.cart-products{
    width: 93%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.cart-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgba(0,0,0,0.1);
    justify-content: center;
    align-items:  flex-start;
    border-radius: 10px;
    gap: 20px;
    height: 100%;

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
    }
}
.cart-product img{
    width: 250px;
    height: 130px;
    border-radius: 10px;
    margin-top: 10px;
    justify-self: center;
}
.cart-product-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;  
     
}
.cart-product-details h2{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;

    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}
.cart-product-details p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    color: #00000080;
    
    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.cart-product-details h3{
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    color: black;
    
    @media (prefers-color-scheme: dark) {
        color: white;
    }
}
.remove-cart{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: first baseline;
    gap: 50px;
}
.remove-cart p{
    font-size: 14px;
    font-weight: 300;
    color: red;
    margin-top: 0;
    margin-right: 0;
    cursor: pointer;
}
.checkout-from-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    padding: 0;
    border-radius: 10px;
    margin-top: 20%;
    align-self: center;
    width: 400px;
    cursor: pointer;
    border: none;
    

    @media (prefers-color-scheme: dark) {
        background-color: #ED7D31;;
    }

}
.checkout-from-cart:hover{
    background-color: #ED7D31;
}
.checkout-from-cart p{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 0;
    margin-left: 5px;
}


.shopping-cart{
    height: 20px !important;
    color: white;
}




@media (max-width: 768px){
    .cart-container{
        width: 100%;
    }
    .cart-container h1{
        font-size: 24px;
        margin-top: 10%;
        text-align: center;
    }
    .empty-cart{
        width: 93%;
        margin: auto;
    }
    .empty-cart p{
        font-size: 14px;
    }
    .empty-cart a{
        font-size: 12px;
    }

    .cart-products{
        display: grid;
        grid-template-columns: 1fr;
        width:100%;
        margin-top: 10px;
    }
    .cart-product{
        width: 93%;
        margin: auto;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }
    .cart-product img{
        width: 150px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: auto;
        margin-left: 10px;

    }
    .cart-product-details{
        margin-left: 0;
        margin-left: -5px;
    }
    .cart-product-details h2{
        font-size: 16px;
        font-weight: 400;
    }
    .cart-product-details p{
        font-size: 11px;
        font-weight: 400;
       
    }
    .cart-product h3{
        font-size: 12px;
        font-weight: 300;

    }
    .checkout-from-cart{
        padding: 0;
        width: 200px;
        height: 41px;
    }
    .checkout-from-cart p{
        font-size: 16px;
        margin-top: 17px;
    }
    .shopping-cart{
        height: 15px !important;
    }

}