.checkout-container{
    width: 93%;
    margin: auto;
}
.checkout-container h1{
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}
.checkout-order{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}
.order-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 0;
   
}
.checkout-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    gap: 0;

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
    }

}
.checkout-product img{
    width:250px;
    height: 130px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;

}
.checkout-product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5px !important;

}
.checkout-product-details h2{
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
}
.checkout-product-details p{
    font-size: 12px;
    font-weight: 400;
    margin-top:0;
    color: #00000080;


    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.checkout-product-details h3{
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}
.total-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: first baseline;
    height: auto;
    border-top: 2px solid #00000080;
    height: 50px;

    @media (prefers-color-scheme: dark) {
        border-top: 2px solid rgba(255, 255, 255, 0.1);
    }
    
}
.total-price h2{
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;

    @media (prefers-color-scheme: dark) {
        color: #ffffff80;
    }
    
}
.total-price p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;

    @media (prefers-color-scheme: dark) {
        color: #ffffff80;
    }
}
.checkout-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    gap: 10px;

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
    }
}
.checkout-details h2{
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 0;
}
.personal-info{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin-top: 0 !important;  
    margin-left: 0;
}
.personal-info input{
    height: 30px;
    width: 45%;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: transparent;
    margin-left: 10px;
    font-family: Poppins, sans-serif;
    padding: 0 10px;


    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
        color: #ffffff80;
    }
}
.personal-info input::placeholder{
    font-size: 12px;
    font-weight: 300 !important;
    padding-left: 10px;
}
.payment-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-type svg{
    margin-left: 20px;
}
.mpesa-payment{
    display: flex;
    flex-direction: column;
    margin-top: 0;

}
.mpesa-button, .paypal-button, .card-button{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.mpesa-button p, .paypal-button p, .card-button p{
    font-size: 14px;
    font-weight: 400;
    
}

.mpesa-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}
.mpesa-details p{
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.mpesa-details img{
    border-radius: 10px;
    height: 35px;
}
.mpesa-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.mpesa-input input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0.2);

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
        color: #ffffff80;
    }
}

::placeholder{
    font-size: 12px;
    font-weight: 300;
    padding-left: 10px;
    font-family: Poppins, sans-serif;
}

.mpesa-input button{
    cursor: pointer;
    width: 200px;
    height:30px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: white;
    font-family: Poppins, sans-serif;

    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.paypal-payment img{
    border-radius: 5px;
    height: 20px;
    margin-left: 10px;
}
.paypal-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    width: 100%;
}
.paypal-details p{
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 0;

    @media (prefers-color-scheme: dark) {
        color: #6C5f5B;
    }
}
.paypal-details button{
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: 400;
    width: 100px;
    font-family: Poppins, sans-serif;

    @media (prefers-color-scheme: dark) {
        background-color: white;
        
        
    }
}
.card-payment img{
    border-radius: 10px;
    height: 20px;
    padding: 1px;
    margin-left: 10px;
}
.card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    margin-left: 20px;
}
.card-details input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: transparent;
    padding: 0 10px;

    @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255,255,255,0.1);
        color: #ffffff80;
    }

}
.order-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    align-self: center;
}
.order-button button{
    cursor: pointer;
    height: 61px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    font-family: Poppins, sans-serif;
}
.order-button button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

    @media (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    }
}
.only-for-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: first baseline;
    gap: 20px;
}


@media (max-width: 768px){
    .checkout-container{
        width: 100%;
        margin: auto;
    }
    .checkout-container h1{
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 0;
    }
    .checkout-order{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }
    .checkout-product{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap:10px;
    }
    .checkout-product img{
        width: 150px;
        height: 100px;
        border-radius: 10px;
    }
    .checkout-product-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0;
        gap: 0;
    }
    .checkout-product-details h2{
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
    }
    .checkout-product-details p{
        font-size: 11px;
        font-weight: 400;
        margin-top:0;
    }
    .checkout-product-details h3{
        font-size: 12px;
        font-weight: 300;
        margin-top: 0;
    }
    .total-price{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        border-top: 2px solid #00000080;
        height: 50px;

        @media (prefers-color-scheme: dark) {
            border-top: 2px solid rgba(255, 255, 255, 0.1);
        }
    }
    .total-price h2{
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        
        @media (prefers-color-scheme: dark) {
            color: #ffffff80;
        }
    }
    .total-price p{
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;

        @media (prefers-color-scheme: dark) {
            color: #ffffff80;
        }
    }
    .checkout-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 93%;
        margin: auto;
    }
    .checkout-details h2{
        font-size: 18px;
        font-weight: 300;
        margin-left: 10px;
        margin-bottom: 0;
    }
    .personal-info{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
        margin-top: 0 !important;  
        margin-left: 0;
    }
    .personal-info input{
        height: 30px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,0.2);

        @media (prefers-color-scheme: dark) {
            border: 1px solid rgba(255,255,255,0.1);
            color: #ffffff80;
        }
    }
    .mpesa-details{
        width: 93%;
    }
    .mpesa-details img{
        border-radius: 10px;
        height: 25px;
    }
    .mpesa-details p, .paypal-details p, .card-details p{
        font-size: 12px;
        font-weight: 300;
        margin-top: 10px;

        @media (prefers-color-scheme: dark) {
            color: #6C5f5B;
        }
    }
}

