.landing-carousel{
    width: 100%;
    height: 100%;
    
}
.main-swiper{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: -20px;
    
}

.option-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}


.thumbs-swiper{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;  
    box-shadow: none !important; 
   
}

.main-swiper-shadow-1 {
    box-shadow: 0 4px 160px 10px #33fffc !important;
}

.main-swiper-shadow-2 {
    box-shadow: 0 4px 160px 10px #33FF57 !important;
}

.main-swiper-shadow-3 {
    box-shadow: 0 4px 160px 10px #3357FF !important;
}

.main-swiper-shadow-4 {
    box-shadow: 0px 4px 160px 10px  #FF5733 !important;
    
}

.thumb {
    border: 1px solid;
    border-radius: 10px;
    opacity: 0.4;
    cursor: pointer;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 2px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
}

.thumb-active {
    opacity: 1;
}

.thumb-color-1 {
    border-color: #33fffc;
}

.thumb-color-2 {
    border-color: #33FF57;
}

.thumb-color-3 {
    border-color: #3357FF;
}

.thumb-color-4 {
    border-color: #FF5733;
}





@media (max-width:768px){
    .landing-carousel{
        width: 100% !important;
    }
    .main-swiper{
        width: 90%;
        height: 300px;
        box-sizing: border-box;
    }
    .thumb{
        font-size: 12px;
        height: 25px;        
    }
    .thumbs-swiper{
        width: 80%;
        box-shadow: none;
    }


}

@media (max-width:400px){
    .main-swiper{
        width: 80%;
        height: 250px;
        margin-top: 0;
    }
    .thumbs-swiper{
        width: 70%;
    }
  
}




