body{
    min-height: 100vh;
}

@media (prefers-color-scheme: dark){
    body{
        background-color: #121212 !important;
        color: white !important;
        
    }

    /* Header css */
    .header{
        background-color: #121212 !important;
        color: white !important;
    }
    .header a{
        color: #6C5F5B !important;
    }
    .sidebar{
        background-color: #121212 !important;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.18) !important;
    }
    .closeIcon svg{
        fill: #6C5F5B !important;
    }

    /*Footer css*/
    .footer-nav a{
        color: #6C5F5B !important;
    }
    .footer-text{
        color: #6C5F5B !important;
    }


    /* HOMEPAGE CSS */
    /*Get Started css*/
    .getStarted-box2 img{
        filter: invert(1) grayscale(100%);
    }
    .getStarted-box2 p{
        color: #6C5F5B !important;
    }
    .getStarted-box2 h2{
        color: white !important;
    }
    .getStarted-intro h2{
        color: #6C5F5B !important;
    }
  
    .getStarted-CTA p{
        color: #6C5F5B !important;
        border-bottom: #6C5F5B 1.5px solid !important;
    }

   .mobile-icon{
        filter: invert(1) hue-rotate(180deg);
   }
   .mobileCTA p{
        color: #6C5F5B !important;
        border-bottom: #6C5F5B 1.5px solid !important;
   }

   /*Get in touch css*/
   .getintouchCTA p{
         color: #6C5F5B !important;
         border-bottom: #6C5F5B 1.5px solid !important;
   }

   /*Browse Projects*/
   .projects-intro p{
        color: #6C5F5B !important;
   }

   /*Get to know us (About us)*/
   .about-us{
        color: white !important;
   }
   .our-workflow{
        color: white !important;
   }
   .view-services p{
        color: #6C5F5B !important;
        border-bottom: 1.5px solid #6C5F5B !important;
   }
   .our-philosophy{
        color: white !important;
   }
   .philosophy-tables p{
        color: #6C5F5B !important;
   }
   .simplicity-box:hover , .infinite-box:hover , .resilience-box:hover{
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
   }
   .mobile-simplicity, .mobile-resilience, .mobile-infinite{
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
   }
   .member1-box, .member2-box{
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
   }
   .team-members h3{
        color: #6C5F5B !important;
   }
   .member1-box, .member2-box{
        box-shadow: none !important;
   }
   .member1-box:hover , .member2-box:hover{
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
   }
   .our-team{
        color: white !important;
   }

   /* Articles */
   .articlesDesc{
        color: #6C5F5B !important;
   }
   .headline {
        color: white !important;
   }
   .article-box1 p{
        color: #6C5F5B !important;
   }
   .article-box1:hover{
        background-color: transparent !important;
    }
    .article-box1:hover{
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .read-more-text{
        color: #6C5F5B !important;
        border-bottom: #6C5F5B 1.5px solid !important;
    }

    /*Our Expertise*/
    .service1 h2{
        color: #6C5F5B !important;
    }

    .service1:hover{
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }
    .service1 svg{
        fill: #6C5F5B !important;
    }

    /*Architecture Projects*/
    .project-box1 h2{
        color: #6C5F5B !important;
    }
    .project-box1:hover{
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    /*Project Description*/
    .project-description h1{
        color: white !important;
    }
    .descriptions h2{
        color: #6C5F5B !important;
    }
    .descriptions p{
        color: white !important;
    }
    .details p{
        color: #6C5F5B !important;
    }

    /*Masterplan*/
    .masterplan h2{
        color: #6C5F5B !important;
    }

    /*BlogGrids*/
    @keyframes dot {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
        
    }
    .loading{
        color: #6C5F5B !important;
        animation: dot 1.09s infinite !important;
    }

    .box1 .post-title{
        color: white !important;
    }
    .box1 p{
        color: #6C5F5B !important;  
    }
    .box1:hover{
        background-color: transparent !important;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
    }

    .post-content{
        color: #6C5F5B !important;
    }
    .blog-navigation h2{
        color: #6C5F5B !important;
    }

    /*Contact Us*/
    .contact-welcome p{
        color: #6C5F5B !important;
    }

   


    
  


  
   



    
 


    @media (max-width: 768px){
        /*Header CSS*/
        .header{
            background-color: #121212 !important;
            color: white !important;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.18) !important;
        }   
        .menu-button svg{
            fill: #6C5F5B !important;
        }

        /*Footer CSS*/
        .footer-container{
            background-color: #121212 !important;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.18) !important;
        }
        .mobile-footer-socials p{
            color: #6C5F5B !important;
        }

        /*Carousel CSS*/
        .swiper{
            box-shadow: 0 2px 10px 0px rgba(255, 255, 255, 0.18) !important;
        }

        /*Get Started CSS*/
        
        .mobile-services h1{
            color:white !important;
        } 
        .mobile-services h2{
            color: #6C5F5B !important;
        }
        .mobile-services .icon-container{
            box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.1);
        }

        /*Get to know us css*/
        .member1-box, .member2-box{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
        }

        .article-box1{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
        }

        /*Our Expertise*/
        .service1{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
        }

        /*Architecture Projects*/
        .project-box1{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
        }

        /*BlogGrids*/
        .box1{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
        }

        /*Contact Us*/
        .appointment{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
        }
        .our-contacts{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important ;
        }
        .form{
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1) !important;
        }
        
    }



}