.search-bar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search-bar input {
    margin-top: 20px;
    background-color: #f8f8f8f8;
    border: 1px rgba(79, 74, 69, 0.212) solid;
    margin-left: 40px;
    width: 40%;
    border-radius: 10px;
    height: 30px;
    padding: 0 55px;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 300;
}
.search-bar input::placeholder{
    font-size: 14px;
    font-family: Poppins;
    color: black;
    font-weight: 300;   
}  
input:focus {
    outline: none;
}
/* input:focus::placeholder {
    color: transparent;
} */
.search-icon {
    position: absolute;
    top: 38.5px;
    left: 50px;
    justify-content: center;
    transform: translateY(-50%);
}
.search-bar button{
    background: none;
    border: none;
    cursor: pointer;
}
.search-options{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.search-options select{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 300;
    padding: 0 8px;
    width: 15%;
    height: 30px;
    border-radius: 10px;
    border: 1px rgba(79, 74, 69, 0.212) solid;
    margin-right: 3.5%;
    margin-top: 20px;
}
.search-bar select:focus {
    outline: none;
}
.search-bar option{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 300;
    border-radius: 10px;
    margin: 5px;
    
}
.search-results{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-content: space-evenly;
    gap: 10px;
    margin-left: 0%;
    background-color: #ED7D3124;
    padding: 0 5px;
    border-radius: 10px;
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.search-results h2{
    font-size:16px;
    font-family: Poppins;
    font-weight: 300;
    margin-left: 5px;
}
.search-results p{
    font-size: 12px;
    font-family: Poppins;
    color: black;
    margin-left: 5px ;
}
.search-results a{
    text-decoration: none;
    color: black;

}
.search-results-container{
    /* border: 1px solid rgba(0, 0, 0, 0.19); */
    height: fit-content;
    border-radius: 10px;
    margin: 5%;   
}
.search-results .search-results-container .featured-img{
    width: 100%;
    height: 150px;
}
.search-results .search-results-container .featured-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
}

@media (max-width:768px){
    .search-bar{
        display: flex;
    }
    .search-options{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .search-bar input {
        margin-left: auto;
        width: 30%;
        font-size: 12px;
    }
    .search-bar input::placeholder{
        font-size: 12px;
    }
    .search-bar option{
        font-size: 12px;
    }
    .search-options select{
        width: 30%;
        margin-right: auto;
        font-size: 12px;
        margin-left: 12px;
    }
    .search-icon{
        left: 30px;
    }
    .search-results{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        justify-content: space-evenly;
        gap: 5px;
        border-radius: 10px;
        width: 93%;
        margin: 20px auto;
    }
    .search-results h2{
        font-size: 14px;
        font-weight: 300;
    }
    .search-results p{
        font-size: 10px;
    }
    .search-results .search-results-container{
        margin-top: 5%;
        border: none;
    }
    .search-results .search-results-container .featured-img{
        height: 130px;
    }
    .featured-img img {
        width: 100%;
        height: 130px;
    }
    
}
