.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.projects-intro {
    width: 280px;
    left: 56px;
    top: 110px;
    position: absolute;
    color: black;
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 400;
    word-wrap: break-word;
}
.carousel {
    width: 665px;
    height: 552px;
    left: 572px;
    top: 49px;
    position: absolute;
    border-radius: 10px;
}
