.projects-container {
    width: 93%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 10fr;
    margin: auto;
    align-items: center;
    margin-top: 5%;
}

.projects-intro {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items:baseline;
    margin-top: auto;
    margin-bottom: auto;
}
.projects-intro h1{
    font-size: 28px;
    font-weight: 400;
}
.projects-intro p{
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word;
}


.projects-intro-message-mobile{
    display: none;
}

@media (max-width:768px){
   .sidebracket, .projects-intro{
        display: none;
   }
   .projects-container{
        grid-template-columns: 1fr;
        width: auto;
   }
   .projects-intro-message-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
   }
    .projects-intro-message-mobile h1{
          font-size: 24px;
          font-weight: 400;
    }
}
@media (max-width:400px){
    .projects-intro-message-mobile h1{
        font-size: 20px;
    }
}