.projects-container {
    width: 100%;
    height: auto;
    position: relative;
    top: 180px;
}
.Bracket {
    height: 500px;
    width: 51px;
}

.Bracket .sideBracket {
    height: 558px;
    left: 45px ;
    position: absolute;
    top: 0;
    width: 61px;
}
.projects-intro {
    width: 280px;
    left: 113px;
    top: 80px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: 'Poppins'; 
    font-weight: 400;
    word-wrap: break-word;
}
.projects-intro-message {
    width: 329px;
    left: 113px;
    top: 380px;
    position: absolute;
    color: black;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 300;
    word-wrap: break-word;
}
.project-img {
    width: 50%;
    height: auto;
    left: 550px;
    top: 51px;
    position: absolute;
    border-radius: 10px;
}
.project-img :hover{
    background-color: #ED7D31;
}
.project-name {
    left: 277px;
    top: 30px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 300;
    word-wrap: break-word;
}

.sidearrows{
    height: 54px;
    left: 489px;
    top: 250px;
    position: absolute;
}
.sidearrows-left-to-right{
    width: 53px;
    height: 53px;
    left: 700px;
    top: 0;
    position: absolute;
    transform:rotate(-180deg);
    transform-origin: 0 0;
}
.sidearrows-right{
    width: 53px;
    height: 53px; 
    left: 0;
    top: 0;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0; 
    border-radius: 10px;
}
.sidearrows-left-to-right :hover{
    background-color: #ED7D31;
    cursor: pointer;
}
.sidearrow-left-to-left{
    width: 53;
    height: 53;
    left: 756;
    top: 0;
    position: absolute;
}
.sidearrow-left{
    width: 53px;
    height: 53px;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 10px;
}
.sidearrow-left-to-left :hover{
    background-color: #ED7D31;
    cursor: pointer;
}
.carousel{
    display: none;
}
.projects-intro-message-mobile{
    display: none;
}

@media (max-width:768px){
    .Bracket, .project-img, .project-name-box, .sidearrows, .projects-intro, .projects-intro-message{
        display: none;
    }
    .carousel{
        display: block;
        overflow: hidden;
        min-height: 70vh;
    }
    .projects-container{
        display: flex;
        flex-direction: column;
        margin:auto
        
    }
    
    .projects-intro-message-mobile{
        display: block;
        width: auto;
        left: 0;
        top: 0;
        margin-top: -10px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        position: relative;
    }
}