/* Copied from projectDescription*/
.project-description{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.project-description h1{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.Masonry{
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap:10px;
    margin: auto;
}
.Masonry img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    object-fit: cover;
}

@media (max-width:760px)
{
    .large-img{
        margin-top: 2%;
    }
    .project-info{
        width: auto;
        margin-left: 10px;
    }
    .project-description h1{
        font-size: 24px; 
    }
    .details h2{
        font-size: 16px;
    }
    .details p{
        font-size: 14px;
    }
    .Masonry img{
        width: 100%;
        height:auto;
        object-fit: cover;
        transition: opacity 0.5s ease-in-out;
    }
}