.footer-container{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 2%;
    width: 100%;
    justify-content: space-between; 
    
}
.footer-logo{
    width: 205px;
    height: auto;
    margin-bottom: -5%;
}
.footer-nav{
    margin-left: 10px;
    margin-bottom: 10%;
}

.footer-left{
    display:block;
    align-items: center;
    
}
.footer-right{
    display:block;
    padding: 20px;  
    justify-content: space-between; 
}
.footer-socials{
    margin: 10px;
    padding: 5px;
    
}

.footer-right p{
    font-size: 14px;
    font-weight: 300;
    color: black;
    text-align: center;
}
.twitter{
    margin: 0 8px;
    width: 45px;
    height: 45px;
}
.instagram, .linkedin{
    width: 45px;
    height: 45px;

}

.arrow-up{
    width: 20%;
    height: auto;
    margin-left: 40px;
    transform:rotate(90deg);
}
.arrow-up:hover{
    background-color: #ED7D31;
    cursor: pointer;
    border-radius: 10px;
}
.mobile-footer-socials{
    display: none;

}


@media (max-width:768px){
    .footer-nav > ul{
        display: none;
    }
    .footer-socials{
        display: none;
    }
    .footer-container{
        display: inline-flex;
        bottom: 0;
        background-color: #ffffff;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        border-radius: 10px;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }
    .footer-logo{
        width: 130px;
        height: auto;
        margin-bottom: 0;
        margin-top: 8px;
        
    }
    .footer-text{
        display: none;
        font-size: 12px;
        font-weight: 300;
        margin-right: 10px;
    }
    .footer-right{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
    }
    .mobile-footer-socials{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;

    }
    .mobile-socials{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin:auto;
        align-items: center;
        width: auto;

    }

    .mobileIcon{
       width: 100%;
       margin: auto;
       
    }
    .whatsapp-link{
        width: 80%;
        height: auto;        
    }
    .mobile-ref-link{
        width: 80%;
        height: auto;
        
    }
    .twitter-link{
        width: 80%;
        height: auto;
    
    }
    .linkedin-link{
        width: 80%;
        height: auto;
        
    }
    .instagram-link{
        width: 80%;
        height: auto;
        
    }

    .mobile-footer-socials p {
        font-size: 12px;
        font-weight: 300;
        margin:auto;
        text-align:left;
        margin-top: 2%;
    }

}
@media (max-width:400px){
    .mobile-footer-socials p{
        font-size: 10px;
    }
}
@media (max-width:320px){
    .mobile-footer-socials p{
        font-size: 10px;
    }
}