.getintouch-container{
    width: 93%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 5%;
}
.getintouch-img{
    display: none;
}

.getintouch-details{
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin: auto;
}

.thedetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.thedetails h1{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}
.getintouch-linesandicons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;

}
.topline{
    width: 30px;
    height: 0;
    margin: 20%;
    transform: rotate(-90deg);
    border: 1px rgba(237, 125, 49, 0.14) solid;
}
.getintouch-contacticons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    margin:auto;

    
}
.getintouch-whatsapp-icon{
    width: 45px;
    height: 45px;
    
}
.getintouch-whatsapp-icon img{
    width: 100%;
    height: auto;
    margin: auto;
}

.getintouch-phone-icon {
    width: 45px;
    height: 45px;
    
    
}
.getintouch-phone-icon img{
    width: 100%;
    height: auto;
    margin: auto;
}

.getintouch-email-icon{
    width: 45px;
    height: 45px;
   
    
}
.getintouch-email-icon img{
    width: 100%;
    height: auto;
    margin: auto;
}

.bottomline{
    width: 30px;
    height: 0;
    margin: auto;
    margin: 20%;
    transform: rotate(-90deg);
    border: 1px rgba(237, 125, 49, 0.14) solid;
}
.getintouchCTA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
.thedetails a{
    text-decoration: none;
    color: black;
}
.getintouchCTA p{
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-right: 5px;
    border-bottom: 1.5px solid black;
}
.getintouchCTA p:hover{
    border-bottom: 1.5px solid #Ed7d31;

}
.getintouchCTA svg{
    width: 14px;
}

.getintouch-sidebracket{
    width: 61px;
    height: 510px;
    margin: auto;
    transform: rotate(180deg);
}
.getintouch-sidebracket img{
    width: 100%;
    height: 100%;
}

/* .getintouch-img {
    width: 50%;
    left: 45px;
    top: 228px;
    position: absolute;
    border-radius: 10px;
}
.getintouch-img ::content{
    width: 100%;
    height: 100%;
}

.getintouch-text {
    width: 466px;
    left:720px;
    top: 255px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
}

.getintouch-CTA {
    width: 149px;
    height: 30px;
    left: 70%;
    top: 579px;
    position: relative;
    transition: transform 0.2s ease-out;
}
.getintouch-CTA:hover{
    transform: scale(1.08);
}
.getintouch-CTA-text {
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 300;
    word-wrap: break-word;
    border-bottom: 1.5px solid black;
}


.CTAarrow-right {
    width: 15px;
    height: 0;
    left: 77%;
    top: 5.4px;
    position: absolute;
    border: none;
}
.contactIcons {
    width: 262px;
    height: 117px;
    left: 820px;
    top: 420px;
    position: absolute;
}
.phone-icon {
    width: 50px;
    height: 50px;
    left: 106px;
    top: 84px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    background: rgba(237, 125, 49, 0.14);
    border-radius: 999px;
}
.phone-icon > img{
    width: 40px;
    height: 38px;
    left: 5px;
    top: 5px;
    transform: rotateX(20deg);
    position: absolute;

}
.WhatsAppicon {
    width: 50px;
    height: 50px;
    left: 0;
    top: 84px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    background: rgba(237, 125, 49, 0.14);
    border-radius: 9999px;
}
.WhatsAppicon > img {
    width: 30px;
    height: 30px;
    top: 10px;
    left: 11px;
    position: absolute;
} 
.Email-icon {
    width: 50px;
    height: 50px;
    left: 212px;
    top: 84px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    background: rgba(237, 125, 49, 0.14);
    border-radius: 9999px;
}
.Email-icon > img {
    width: 28;
    height: 28;
    left: 11px;
    top: 11px;
    transform: rotate(90deg);
    position: absolute;
}
.topline{
    width: 20px;
    height: 0;
    left: 131px;
    top: 20px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border: 1px rgba(237, 125, 49, 0.14) solid;
}
.bottomline{
    width: 20px;
    height: 0;
    left: 131px;
    top: 117px;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    border: 1px rgba(237, 125, 49, 0.14) solid;

}
.getintouchBracket {
    height: 533px;
    width: 51px;
}

.getintouchBracket .sideBracket {
    height: 498px;
    left: 1180px;
    top: 188px;
    position: absolute;
    width: 61px;
    transform: rotate(180deg);
}  */

@media (max-width: 768px){
    .topline, .bottomline, .getintouch-contacticons, .getintouch-sidebracket{
        display: none;
    }
    .getintouch-container{
        grid-template-columns: 1fr;
        width: auto;
        margin-top: 10%;
    }
    .getintouch-details{
        grid-template-columns: 1fr;
        width: auto;
    }
    .thedetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: auto;
    }
    .thedetails h1{
        font-size: 24px;
        margin-top: 5%;
        text-align: center;
    }
    .getintouchCTA{
        margin-top: 0;
    }

}
@media (max-width:400px){
    .thedetails h1{
        font-size: 20px;
    }
    .getintouchCTA p{
        font-size: 16px;
    }
    .getintouchCTA svg{
        width: 12px;
    }
}














