.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    box-sizing: border-box;
    margin: -5px;

}

.logo {
    width: 145px;
    height: auto;
    margin-left: 10px;
}

ul {
    display: flex;
    list-style: none;
    align-items: first baseline;

}   

li {
    margin: 0px;
    font-size: 15px;
    padding: 10px;
    margin-right:35px;
}

li a {
    text-decoration: none;
    color: black;
    align-items: center;
}

li a:hover {
    color: #ED7D31;
}


/*sidebar*/
.sidebar{
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar.show{
    display: flex;
}
.sidebar li{
    width: 100%;
    padding-left: 10px;
}

.sidebar li a{
    width: 100%;
    padding-left: 50px;
}
.menu-button{
    display: none;
    padding-right: 5px;
    align-items: center;
    
}
@media (max-width: 768px) {
    .header{
        padding:0 0;
        margin: auto;
        align-items: center;
        justify-items:center;
        position: -webkit-sticky;
        position: sticky;
        background-color: #ffffff;
        border-radius: 10px;
        box-sizing: border-box;
        top:0;
        z-index: 1000;
        height: 66px;
        width: 100%;
        
    }
    .logo{
        width: 130px;
        margin-left: -10px;
    
    }
   
   .hideonmobile{
        display: none;
    }

    .menu-button{
        display: block;
        margin-right:40px;
        justify-self: center;
        align-items: center ;
    }
    .sidebar{
        width: 55%;
        height: max-content;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0.1px #00000037;
    }
    
}