body{
    background-color: #ffffff;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:crosshair;
}
@media (max-width:768px){
    
}

