.details button{
    padding: 5px;
    font-family: Poppins;
    font-size: 14px;
    color: #ed7d31;
    border: 1px solid #6C5F5B;
    background-color: transparent;
    border-radius: 10px;
}
.details button:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
}

@media(max-width:760px){
    .details button{
        font-size: 12px;
    }
}