.submission-prompt{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cancel-icon{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}
.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 3%;
    
}
.message img{
    width: 15%;
    height: auto;
}
.message h1{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
    
}
.message p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;;
}
.shop-prompt{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.shop-prompt:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.shop-prompt h2{
    font-size: 18px;
    font-weight: 300; 
}
.shoppingbag-icon{
    width: 8%;
    height: auto;
}
.arrow-icon{
    position: absolute;
    top:81%;
    left: 64%;
    cursor: pointer;
    
}
.shop-prompt a{
    text-decoration: none;
    color: black;
}

@media (max-width:760px){
    .submission-prompt{
        width: 100%;
        height: auto;
    }
    .cancel-icon{
        margin: 10px;
        padding: 10px;
    }
    .message{
        margin:10%;
    }
    .message img{
        width: 15%;
        margin-top: 10%;
    }
    .message h1{
        font-size: 24px;
    }
    .message p{
        font-size: 16px;
    }
    .shop-prompt{
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .shop-prompt h2{
        font-size: 16px;
       
    }
    .shop-prompt a{
        font-size: 14px;
    }
    .arrow-icon{
        top:76%;
        left: 79%;
        width: 4%;
        height: auto;
    }
}